<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="rgba(0,0,0,1)">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="rgba(0,0,0,1)">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="rgba(0,0,0,1)">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>Adarsh Nandanwar</title>
</head>
<body data-spy="scroll" data-target="#navbar-scrollspy" data-offset="89">

    <nav id="navbar-scrollspy" class="navbar fixed-top navbar-expand-lg navbar-light expand">
        <a class="navbar-brand" href="#">
            <span id="nav-name"><i class="fas fa-code d-none d-md-inline"></i>ADARSH NANDANWAR</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="#landing">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#about">About</a>
                <a class="nav-item nav-link" href="#skills">Skills</a>
                <a class="nav-item nav-link" href="#projects">Projects</a>
                <a class="nav-item nav-link" href="#contact">Contact</a>
            </div>
        </div>
    </nav>